body, html {
	height: 100%; 
    background-size: cover;
    background: linear-gradient(
    to right,
    #4f4e1d,
    #6a632b,
    #aca63b,
    #c7c30d
  );
}

hr{
    background-color: white;
}

#homepage{
      min-height: 100%; 
	  position: fixed;
      top: 50%;
      left: 40%;
      margin-top: -50px;
      margin-left: -105px;
}

#homepage form{
    position: fixed;
    left: 40%;
}

#homepage h1{
	text-align: center;
	font-weight: bold;
    color: white;
	font-family: "Courier New", Courier, monospace;
}

#homepage-form-input{
    text-align: center;
    background: none;
    color: white;
    border: none;
    font-weight: bold;
    border-bottom: 1px solid white;
    outline: none;
    font-family: "Courier New", Courier, monospace;
}

::placeholder{
  color: white;
}
#homepage-form-input:focus {outline:0;}

button{
    border: none;
    border-radius: 5px;
    width: 65px;
    text-align: center;
    margin-left: 37%;
    cursor: pointer;
    background-color: #C3BE14;
    color: white;
}

button:disabled {
    background: #746D2D;
    color: white;
    cursor: not-allowed;
}

button:hover{
	background-color: gray;
}
@media only screen and (max-width: 500px) {
    #homepage{
        position: fixed;
        left: 30%;
    }
    #homepage form{
        position: fixed;
        left: 25%;
    }
    hr{
        width: 95%;
    }
}