#listPage{
	background-color: #9B9733;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.item{
	border: 5px solid #746D2D;
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
}

.item p{
	font-size: 25px;
}

.item:hover{
	background-color: #746D2D;
	color: white;
	cursor: pointer;
}